<%- include("partials/head.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container-fluid">
                <h1>Hi, I am Vishal</h1>
                <p>Learning Full Stack Web Development, if you are hear means, I am Being Noticed, Please Visit My
                    LinkedIn, LeetCode,GitHub as WELL</p>

            </div>
            <%- include("partials/footer.ejs") %>
    </body>

    </html>