<%- include("partials/head.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container-fluid">
                <h1>Welcome to Reddit
                </h1>

                <p>Hi, Its my first Express-Node app, which i am posting, Here you can search for any subreddit, i
                    created a local server, and using dynamic html templating, with the help of EJS(embedded JavaScript)
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tenetur eius vel excepturi? Iusto
                    facilis
                    eius nam totam? Non amet possimus quisquam perspiciatis explicabo laboriosam totam ea itaque fugit
                    exercitationem.</p>
            </div>
            <%- include("partials/footer.ejs") %>
    </body>

    </html>